---
---

@import "{{ site.theme }}";

.home-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-main {
  width: 65%;
}

.home-sidebar {
  width: 30%;
}

.sidebar {
  padding: 20px;
  background: #f9f9f9;
  border-radius: 5px;

  h3 {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .author-info {
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.4;
  }
}

.social-links {
  margin-top: 15px;

  a {
    margin-right: 10px;
    color: #828282;
    font-size: 18px;

    &:hover {
      color: #333;
    }
  }
}

.post-list {
  list-style-type: none;
  padding: 0;
}

.post-list > li {
  margin-bottom: 30px;
}

.post-meta {
  font-size: 14px;
  color: #828282;
}

.post-link {
  display: block;
  font-size: 20px;
  margin-top: 5px;
  text-decoration: none;
  color: #333;
}

.post-list-heading {
  font-size: 18px;
  margin-top: 30px;
}

.post-list-heading a {
  color: #828282;
  text-decoration: none;
}

.post-list-heading a:hover {
  text-decoration: underline;
}

// 响应式设计
@media screen and (max-width: 800px) {
  .home-main, .home-sidebar {
    width: 100%;
  }
  
  .home-sidebar {
    margin-top: 30px;
  }
}