---
layout: default
---

<div class="home-wrapper">
  <div class="home-main">
    <h1 class="page-heading">{{ page.title }}</h1>

    {{ content }}

    {%- if site.posts.size > 0 -%}
      <h3 class="post-list-heading">
        <a href="{{ '/posts' | relative_url }}">More Posts...</a>
      </h3>
    {%- endif -%}
  </div>

  <div class="home-sidebar">
    <div class="sidebar">
      <h2>About the Author</h2>
      <img src="{{ site.author.image | relative_url }}" alt="{{ site.author.name }}" class="author-image" style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;">
      <h3>{{ site.author.name }}</h3>
      <p class="author-info">{{ site.author.profession }}</p>
      <p class="author-info">{{ site.author.hobbies }}</p>
      <p class="author-info">{{ site.author.education }}</p>
      <p class="author-info">{{ site.author.location }}</p>
      <p class="author-info">{{ site.author.email }}</p>
      <div class="social-links">
        {% for social in site.social %}
          <a href="{{ social.url }}" target="_blank"><i class="{{ social.icon }}"></i></a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>